<a href="/civicrm-event/{{ content.event_id }}"><div class="meeting-com {{ content.class_odd_even }}">
    <div class="date-meet groupess">
        <span class="day">{{ content.day }}</span>
        <span class="month-and-year">{{ content.month }} {{  '  ' ~ content.year  }}</span>
        <span class="hourss">{{ content.hour ~ ' h ' ~ content.minute}}</span>
    </div>    
    <div class="title-meet">
        <span class="title-meet-commission">{{ content.title }}</span>
        {# <span class="hour-begining-meet-commission">Début de la réunion </span> #}
        
    </div>
</div></a>