 <div class="container-c-nav">
        <nav class="sidebar-c-nav">
            <ul><a href="/accueil-extranet">
            <li  class="menu-c-nav-item cus-back-home">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 50 50" style="
    background-color: #d3278c;
    border-radius: 9px !important;
    height: 110%;
    padding: 10px;
    font-size: 23px !important;
    width: 62px;
    min-width: 57px;
">
  <path fill="#ffffff" stroke="#ffffff" stroke-width="2" d="M 24.962891 1.0546875 A 1.0001 1.0001 0 0 0 24.384766 1.2636719 L 1.3847656 19.210938 A 1.0005659 1.0005659 0 0 0 2.6152344 20.789062 L 4 19.708984 L 4 46 A 1.0001 1.0001 0 0 0 5 47 L 18.832031 47 A 1.0001 1.0001 0 0 0 19.158203 47 L 30.832031 47 A 1.0001 1.0001 0 0 0 31.158203 47 L 45 47 A 1.0001 1.0001 0 0 0 46 46 L 46 19.708984 L 47.384766 20.789062 A 1.0005657 1.0005657 0 1 0 48.615234 19.210938 L 41 13.269531 L 41 6 L 35 6 L 35 8.5859375 L 25.615234 1.2636719 A 1.0001 1.0001 0 0 0 24.962891 1.0546875 z M 25 3.3222656 L 44 18.148438 L 44 45 L 32 45 L 32 26 L 18 26 L 18 45 L 6 45 L 6 18.148438 L 25 3.3222656 z M 37 8 L 39 8 L 39 11.708984 L 37 10.146484 L 37 8 z M 20 28 L 30 28 L 30 45 L 20 45 L 20 28 z"></path>
</svg>
{% if content.is_term %}
<h3 class="txt-meet-nav txt-comm-nav">Espace adhérents</h3>
{% endif %}
            </li></a>
                <li class="menu-c-nav-item" data-text="Ceci est le texte pour l'élément 1"  data-target="content1">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Icon_ionic-ios-calendar" data-name="Icon ionic-ios-calendar" width="276.31" height="255.057" viewBox="0 0 276.31 255.057">
  <path id="Tracé_16" data-name="Tracé 16" d="M253.116,6.75H226.548V22.691A5.329,5.329,0,0,1,221.234,28H210.607a5.329,5.329,0,0,1-5.314-5.314V6.75H77.766V22.691A5.329,5.329,0,0,1,72.452,28H61.825a5.329,5.329,0,0,1-5.314-5.314V6.75H29.943A26.646,26.646,0,0,0,3.375,33.318V213.984a26.646,26.646,0,0,0,26.568,26.568H253.116a26.646,26.646,0,0,0,26.568-26.568V33.318A26.646,26.646,0,0,0,253.116,6.75Zm5.314,199.263A13.323,13.323,0,0,1,245.146,219.3H37.914A13.323,13.323,0,0,1,24.63,206.013V86.455a5.329,5.329,0,0,1,5.314-5.314H253.116a5.329,5.329,0,0,1,5.314,5.314Z" transform="translate(-3.375 14.505)" fill="#fff"></path>
  <path id="Tracé_17" data-name="Tracé 17" d="M30.255,9.814A5.329,5.329,0,0,0,24.941,4.5H14.314A5.329,5.329,0,0,0,9,9.814V25.755H30.255Z" transform="translate(44.136 -4.5)" fill="#fff"></path>
  <path id="Tracé_18" data-name="Tracé 18" d="M46,9.814A5.329,5.329,0,0,0,40.691,4.5H30.064A5.329,5.329,0,0,0,24.75,9.814V25.755H46Z" transform="translate(177.168 -4.5)" fill="#fff"></path>
</svg>
{% if content.is_term %}
    <h3 class="txt-meet-nav txt-comm-nav">Réunions</h3>
{% endif %}
                </li>
                <li class="menu-c-nav-item second" data-text="Ceci est le texte pour l'élément 2"  data-target="content2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="287.688" height="183.076" viewBox="0 0 287.688 183.076">
  <path id="Icon_material-group" data-name="Icon material-group" d="M197.651,85.961a39.23,39.23,0,1,0-39.23-39.23A39.067,39.067,0,0,0,197.651,85.961Zm-104.614,0a39.23,39.23,0,1,0-39.23-39.23A39.067,39.067,0,0,0,93.037,85.961Zm0,26.154c-30.469,0-91.537,15.3-91.537,45.769v32.692H184.574V157.884C184.574,127.415,123.506,112.115,93.037,112.115Zm104.614,0c-3.792,0-8.108.262-12.684.654,15.169,10.985,25.761,25.761,25.761,45.115v32.692h78.46V157.884C289.188,127.415,228.119,112.115,197.651,112.115Z" transform="translate(-1.5 -7.5)" fill="#fff"></path>
</svg>
{% if content.is_term %}
<h3 class="txt-group-nav txt-comm-nav">Groupes</h3>
{% endif %}
                </li>
                <li class="menu-c-nav-item third" data-text="Ceci est le texte pour l'élément 3"  data-target="content3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="192.589" height="264.82" viewBox="0 0 192.589 264.82">
  <path id="Icon_simple-googledocs" data-name="Icon simple-googledocs" d="M131.294,74.227h-8.022V0H22.972A18.048,18.048,0,0,0,4.91,18.052V246.768A18.045,18.045,0,0,0,22.961,264.82H179.447A18.045,18.045,0,0,0,197.5,246.768V74.227h-66.2ZM125.28,189.589H47.027V174.539h78.232v15.051Zm30.09-36.115H47.038V138.424H155.37Zm0-36.115H47.038V102.32H155.37v15.04ZM131.294,66.205h66.2L131.294,0Z" transform="translate(-4.909)" fill="#fff"></path>
</svg>
{% if content.is_term %}
<h3 class="txt-com-nav txt-comm-nav">Communications</h3>
{% endif %}
                </li>
            </ul>
        </nav>
        <div class="content-c-nav">
            <div class="text-bloc-c-nav" id="text-block">
                <div id="content1" class="dynamic-content">
                    <h2 class="txt-meetings-nav txt-comm-nav-mobile">Réunions</h2>
                    <div class="all-meetings">
                    {% if content.meet %}
                        {% for key, elm in content.meet %}
                            <div class="each-meet-c">
                                <div class="icon-meet">
                                    <i class="far fa-calendar"></i>
                                </div>
                                <div class="meeting-title-and-date">
                                    <a href="/civicrm-event/{{ elm.id }}"><h3>{{ elm.event_title |capitalize }}</h3></a>
                                    <div class="date-meet">
                                        <p>{{ elm.formated_date }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Aucune réunion</p>
                    {% endif %}
                    <a href="/toutes-mes-reunions" class="btn button all-meeting">Toutes mes réunions</a>
                    </div>
                </div>


                <div id="content2" class="dynamic-content"> <h2 class="txt-group-nav txt-comm-nav-mobile">Commissions</h2>
                    <div class="all-groupes">
                    {% for keys, elms in content.groupes %}
                        <div class="each-group-c">
                            <div class="icon-group">
                                <svg xmlns="http://www.w3.org/2000/svg" id="Groupe_3068" data-name="Groupe 3068" width="181.063" height="181.063" viewBox="0 0 181.063 181.063">
  <circle id="Ellipse_11" data-name="Ellipse 11" cx="90.531" cy="90.531" r="90.531" transform="translate(0)" fill="#fca65e"/>
  <path id="Icon_material-group" data-name="Icon material-group" d="M67.026,33.711A13.105,13.105,0,1,0,53.921,20.605,13.051,13.051,0,0,0,67.026,33.711Zm-34.947,0A13.105,13.105,0,1,0,18.974,20.605,13.051,13.051,0,0,0,32.079,33.711Zm0,8.737C21.9,42.448,1.5,47.559,1.5,57.737V68.658H62.658V57.737C62.658,47.559,42.257,42.448,32.079,42.448Zm34.947,0c-1.267,0-2.708.087-4.237.218,5.067,3.669,8.606,8.606,8.606,15.071V68.658H97.6V57.737C97.6,47.559,77.2,42.448,67.026,42.448Z" transform="translate(40.643 46.819)"/>
</svg>
                            </div>
                            <div class="group-c-title">
                                <a href="/civicrm-group/{{ elms.civicrm_group_civicrm_group_contact_id_1 }}"><h3>{{ elms.civicrm_group_civicrm_group_contact_frontend_title |capitalize }}</h3></a>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="/tous-mes-groupes" class="btn button all-groupes">Tous mes groupes</a>
                    </div>
                </div>


                
                
                <div id="content3" class="dynamic-content">
                 <h2 class="txt-commun-nav txt-comm-nav-mobile">Communications</h2>
                    <div class="b-communication">
                        {% for keys_com, com in content.all_com %}
                            <div class="each-title-and-date">
                                <a href="/node/{{ com.nid }}"><span class="title-com">{{ com.title }}</span></a>
                                <span class="date-com">{{ com.dateComplete }}</span>
                            </div>
                            <div class="c-com-desc sisny">
                                 <a href="/files/{{ com.uri}}"><p class="p-desc">{{ com.description }}</p></a>
                            </div>
                            <div class="com-keyword">
                                {{ com.keywords }}
                            </div>
                            <hr class="com-hr">
                        {% endfor %}
                        <a href="/communication" class="btn button all-communi">Toutes les communications</a>
                    </div>
                </div>
            </div>
        </div>
    </div>