 <div class="container-c-nav">
        <nav class="sidebar-c-nav">
            <ul>
                <li class="menu-c-nav-item" data-text="Ceci est le texte pour l'élément 1"  data-target="content1">
                    <i class="fas fa-calendar"></i>
                </li>
                <li class="menu-c-nav-item" data-text="Ceci est le texte pour l'élément 2"  data-target="content2">
                    <i class="fas fa-user-friends"></i> 
                </li>
                <li class="menu-c-nav-item" data-text="Ceci est le texte pour l'élément 3"  data-target="content3">
                    <i class="fas fa-file-alt"></i>
                </li>
            </ul>
        </nav>
        <div class="content-c-nav">
            <div class="text-bloc-c-nav" id="text-block">
                <div id="content1" class="dynamic-content" style="display: none;">
                    <div class="all-meetings">
                    {% for key, elm in content.meet %}
                        <div class="each-meet-c">
                            <div class="icon-meet">
                                <i class="far fa-calendar"></i>
                            </div>
                            <div class="meeting-title-and-date">
                                <a href="/civicrm-event/{{ elm.id }}"><h3>{{ elm.event_title |capitalize }}</h3></a>
                                <div class="date-meet">
                                    <p>{{ elm.formated_date }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="/toutes-mes-reunions" class="btn button all-meeting">Toutes mes réunions</a>
                    </div>
                </div>


                <div id="content2" class="dynamic-content" style="display: none;">
                    <div class="all-groupes">
                    {% for keys, elms in content.groupes %}
                        <div class="each-group-c">
                            <div class="icon-group">
                                <i class="far fa-calendar"></i>
                            </div>
                            <div class="group-c-title">
                                <a href="/civicrm-group/{{ elms.civicrm_group_civicrm_group_contact_id_1 }}"><h3>{{ elms.civicrm_group_civicrm_group_contact_frontend_title |capitalize }}</h3></a>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="/tous-mes-groupes" class="btn button all-groupes">Tous mes groupes</a>
                    </div>
                </div>


                
                
                <div id="content3" class="dynamic-content" style="display: none;">
                    <div class="b-communication">
                        {% for keys_com, com in content.all_com %}
                            <div class="each-title-and-date">
                                <a href="/node/{{ com.nid }}"><span class="title-com">{{ com.title }}</span></a>
                                <span class="date-com">{{ com.dateComplete }}</span>
                            </div>
                            <div class="c-com-desc">
                                <p class="p-desc">{{ com.description }}</p>
                            </div>
                            <div class="com-keyword">
                                {{ com.keywords }}
                            </div>
                            <hr class="com-hr">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>