{# <div class="views-field views-field-title">
    <span class="field-content">
        <div class="meeting-com even">
            <div class="date-meet">
                <span class="day">{{ content.meeting_info.day }}</span>
                <span class="month-and-year">{{ content.meeting_info.month ~ ' ' ~ content.meeting_info.year }}</span>
            </div>    
            <div class="title-meet">
                <span class="title-meet-commission"><a href="/civicrm-event/991">{{ content.title }}</a></span>
                <span class="hour-begining-meet-commission">Début de la réunion {{ content.meeting_info.hour ~ 'h ' ~ content.meeting_info.minute}}  </span>
            </div>
        </div>
    </span>
</div> #}
{# 
<a href="/civicrm-event/{{ content.event_id }}"><div class="container-meet-c">
      <div class="date-complet"><p>{{ content.date_complet }}</p></div>
      <div class="hour-complet"><p class="label-hour">Début : </p><p class="hour-value">{{ content.hour_complet }}</p></div>
      <div class="subject-complet"><p class="label-subject">Objet : </p><p class="subject-value">{{ content.title }}</p></div>
      </div>
    </a> #}
<a href="/civicrm-event/{{ content.event_id }}">
<div class="meeting-com {{ content.class_odd_even }}">
    <div class="date-meet">
        <span class="day">{{ content.day }}</span>
        <span class="month-and-year">{{ content.month }} {{  '  ' ~ content.year  }}</span>
        <div class="debuth">
            <span class="hourss">{{ content.meeting_info.hour ~ ' h ' ~ content.meeting_info.minute}}</span>
        </div>
    </div>     
     <div class="title-meet">
        <span class="field_sous_titre_slide aaa">{{ content.title }}</span>
        
    </div>
</div></a>